@import "../../../global";
.faqQuestion {
    &:hover {
        .faqQuestion__question {
            @include hover-text-default;
        }
    }
    &__btnLi {
        border: none;
        background: none;
        width: 100%;
        padding: 30px 0 0;
        cursor: pointer;
    }
    &__container {
        display: flex;
        justify-content: space-between;
        position: relative;
    }
    &__question {
        color: $color-text-default;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        transition: all 0.5s ease;
    }
    &__btn {
        transition: transform 0.5s ease;
        position: absolute;
        right: 4px;
        top: -3px;
        width: 26px;
        height: 26px;
        transition: transform 0.5s ease;

        &_open {
            transform: rotate(45deg);
            right: 2px;
            top: -14px;
            .faqQuestion__icon {
                width: 33px;
                height: 33px;
            }
        }
    }
    &__answer {
        color: $color-text-default;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        transition: all 0.5s ease;
        text-align: left;
        &_hidden {
            opacity: 0;
            height: 21px;
        }
        &_visible {
            opacity: 1;
            height: 100%;
            padding: 17px 0 37px;
        }
    }
}
