@import "../../../global";
.cartProductLink {
    cursor: pointer;
    width: 362px;
    display: flex;
    &:hover {
        .cartProductLink__name {
            text-decoration: underline;
        }
    }
    @media screen and (max-width: 767px) {
        justify-content: space-between;
        min-width: auto;
        max-width: 362px;
        width: 100%;
    }
    @media screen and (max-width: 400px) {
        flex-direction: column;
        align-items: center;
    }
    &__img {
        min-width: 100px;
        max-width: 100px;
        height: 57px;
        object-fit: contain;
    }
    &__info {
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media screen and (max-width: 767px) {
            margin-left: 0;
        }
    }
    &__name {
        color: $color-text-catalog;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }
    &__price {
        color: $color-text-catalog;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}
