@import "../../global";

.product {
    max-width: 370px;
    width: 100%;
    display: block;
    &__link {
        position: relative;
        display: block;
        display: flex;
        flex-direction: column;
        row-gap: 10px;

        &:hover {
            .product__name {
                text-decoration: underline;
            }
            .product__imgWrap::before {
                background-color: rgba(135, 135, 135, 0.25);
            }
        }
    }
    &__imgWrap {
        max-width: 369.73px;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: transparent;
            transition: background-color 0.5s ease;
            z-index: 1;
        }
    }
    &__img {
        display: block;
        position: relative;
        width: 100%;
        object-fit: contain;
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        column-gap: 10px;
    }

    &__name {
        color: $color-text-catalog;
        font-size: 16px;
        font-weight: 600;
        line-height: 23px;
        letter-spacing: 0%;
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }

    &__price {
        color: $color-text-catalog;
        font-size: 18px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0%;
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        border: none;
        border-radius: 4px;
        background: $color-action-element;
        cursor: pointer;
        transition: background-color 0.5s ease;
        &:hover {
            @include hover-action-element;
        }
    }
}
