@import "../../../global";
.oneProductStates {
    padding: 48px 0 64px;
    display: flex;
    flex-direction: column;
    row-gap: 23px;
    &__stateItem {
        display: flex;
        column-gap: 10px;
        align-items: center;
    }
    &__itemKey {
        color: $color-text-product-key;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    &__itemValue {
        color: $color-text-catalog;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
}
