@import "../../global";
.cartPrice {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 30px 0;
    row-gap: 4px;
    &__item {
        display: flex;
        column-gap: 10px;
        &:first-child {
            padding-bottom: 38px;
        }
    }
    &__countKey {
        color: $color-text-product-key;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    &__countValue {
        color: $color-text-catalog;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    &__totalKey {
        color: $color-text-product-key;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    &__totalValue {
        color: $color-text-catalog;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    &__discountKey {
        color: $color-text-product-key;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    &__discountValue {
        color: $color-text-catalog;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}
