@import "../../global";
.oneProduct {
    flex-grow: 1;
    padding: 55px 20px 109px 20px;
    @media screen and (max-width: 767px) {
        padding: 20px 10px 40px;
    }
    &__container {
        max-width: 1180px;
        width: 100%;
        margin: auto;
    }
    &__title {
        padding-bottom: 55px;
        color: $color-text-catalog;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    &__cardContainer {
        display: flex;
        column-gap: 42px;
        @media screen and (max-width: 1023px) {
            flex-direction: column;
            row-gap: 20px;
        }
    }
    &__info {
        width: 100%;
        @media screen and (max-width: 1023px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 20px;
        }
    }
    &__titleContainer {
        display: flex;
        justify-content: space-between;
    }
    &__name {
        color: $color-text-catalog;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
    &__skuId {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        min-width: 164px;
        color: $color-text-catalog;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;

        &_gray {
            color: $color-text-product-key;
            padding-right: 10px;
        }
    }
}
