@import "../../../global";
.ButtonAddProductCart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border: none;
    border-radius: 4px;
    background: $color-action-element;
    cursor: pointer;
    transition: background-color 0.5s ease;
    &:hover {
        @include hover-action-element;
    }
}
